header{
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background: transparent;
    transition: all ease .4s;
}

header.black{
    background: #141414;
    box-shadow: 0px 3px 10px #14141475;
}

.Logo{
    height: 30px;
}

.Logo img{
    height: 100%;
}

.User img{
    height: 100%;
    border-radius: 2px;
}

.User{
    height: 40px;
}