.movieRow{
    margin-bottom: 30px;
    
}

.movieRow h2{
    margin-left: 30px;
}

.movieRow--listarea{
    padding: 0 30px;
    overflow-x: hidden;
}

.movieRow--list{
    transition: all ease-in-out .4s;
}

.movieRow-item{
    display: inline-block;
    cursor: pointer;
    width: 150px;
}

.movieRow-item img:hover{
    transform: scale(1);
    transition: all ease .2s;
}

.movieRow-item img{
    transition: all ease .2s;
    width: 100%;
    transform: scale(.9);
}

.Lists{
    margin-top: -70px;
}

footer{
    margin: 50px auto;
    text-align: center;
}

.loading{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 105;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading img{
    height: 50vh;
}